baidu-aip==4.16.13
certifi==2026.2.25
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.7
idna==3.11
numpy==2.4.4
pycparser==3.0
PyGetWindow==0.0.9
PyRect==0.2.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
requests==2.33.1
shiboken6==6.11.0
sounddevice==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
winrt-runtime==3.2.1
winrt-Windows.Media.Control==3.2.1
